body {
	font-size: 100%;
	font-family: $baseFontFamily;
	font-weight: 400;
	color: $textColorDark;
	background: url("../images/footer-bg.png");
	padding: 0;
}

/* Links */
/*------------------------------*/
a { color: $brightGreen;}
a:visited {}
a:hover { text-decoration: none;
	color: $superDarkGreen;
}
a:active { }

// link border treatment
.main-content {
	a {
		border-bottom: 1px dotted $textColorLight;
	}
}
// turn off borders for some links
.pdf-link {
	border: 0;
}


/* Typography */
/*------------------------------*/

h2 {
	color: white;
	background: $orange;
	padding: 5px 20px ;
	font-size: 1.625em;
	font-weight: 200;
	margin-bottom: 1.5em;
	text-align: left;
	display: inline-block; }
.main-content {
	p, li, td { 
		font-size: 1.125em;
		line-height: 1.4em; }
	h2 { margin-top: 0; }
}

/* Miscellaneous */
/*------------------------------*/

.primary-button {
	a { 
		display: inline-block;
		padding: 10px 20px;
		margin-bottom: 15px;
		background: $green;
		color: white; }
	a:hover { background: $brightGreen; }
}
.image-copyright {
	text-align: right;
	margin-top: 200px;
	color: $paleGreen;
	font-size: 75%;
}
.main-content {
	p.caption {
		color: $textColorLight;
		font-size: 0.875em; }
}
.top-link { 
	text-align: right;
	display: block; }
