/* Hero */
/*------------------------------*/

.hero { 
	background: $superDarkGreen;
	.container { background: url("../images/ghali-bg.jpg") no-repeat top; }
}

.intro-text { 
	color: white;
	margin: 80px 40px 0 0;
	font-size: 1.25em;
	line-height: 1.5em;
	.primary-button {
		text-align: right;
		margin-top: 20px;
		a { font-size: 90%; }
		a.browse-works { background: $orange; }
		a.browse-works:hover { background: $brightOrange; }
	}
}



/* Header */
/*------------------------------*/
header { background: white; }


/* Main content on sub pages */
/*------------------------------*/
.main-content { 
	background: white;
	.container { 
		border-top: 5px solid $paleGreen;
		padding-top: 60px;
		padding-bottom: 60px; }
}

/* Sidebar on sub pages */
/*------------------------------*/
.sidebar {
	#block-block-5 { text-align: center; }
}

/* Footer */
/*------------------------------*/
footer {
	color: $brightGreen;
	.container { padding: 30px 0; }
	ul.nav {
		list-style: none;
		margin: 0 0 1em;
		li { 
			display: inline-block;
			font-size: .875em;
			border-left: 1px solid $brightGreen;
			padding: 0 5px 0 10px;
			a { color: #ccd0d0; }
			a:hover { 
				background: inherit;
				color: white; }
		}
		li:first-child { 
			border-left: none;
			padding-left: 0; }
		li.active-trail { 
			color: white;
			a { color: white; }
			.divider { color: white; }
		}
	}
	p { font-size: .875em; }
	a { color: #ccd0d0; }
	a:hover { 
		background: inherit;
		color: white; }
	}

/* Unpublished papers */
/*------------------------------*/

.paper {
	margin: 0 0 1.5em;
}
.paper-title {
	font-size: 1.4em;
	margin-bottom: .25em;
}
.paper-abstract {
	font-size: 1em;
}