.navbar {
	padding: 20px 0;
	margin-bottom: 0;
	.container { width: 1170px; } // bootstrap override to set fixed width
	.brand {
		float: none;
		font-size: 24px;
		color: $orange;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.subtitle { 
		color: $fadedGreen;
		font-size: 18px;
		font-style: italic;
	}
	.nav {
		margin-top: 3px;
		li {
			margin: 0 0 2px 2px;
			a {
				text-shadow: 0 0 0;
				color: $green; 
				font-size: 16px;
				padding: 5px 10px;
				 }
			a:hover { 
				background: $paleOrange;
				border-color: $paleOrange; }
		}
		li:first-child {
			a { border: none; }
		}
		li.active-trail {
			a, 
			a:hover {
				color: white;
				background-color: $orange;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				border-color: $orange; }
		}
	}
}
.navbar-toggle {
	background: $orange;
	margin: 0 0 0 10px;
	.icon-bar {
		background: white;
	}
}

// MEDIA QUERIES
// -------------------------
// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
	.navbar {
		.nav {
			float: right;
			li {
				float: left;
			}
		}
		.brand {
			font-size: 22px;
		}
		.subtitle {
			margin: 0 0 0 15px;
		}
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }
// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
	.navbar {
		.brand {
			font-size: 36px;
		}
	}
}