//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1199px) {
	body { font-size: 90%; }
	.navbar {
		.container { width: 940px; }
		.brand { font-size: 2em; }
		.subtitle { margin-left: 75px; }
		.nav {
			li {
				a { padding: 5px; }
			}
		}
	}
}

