// Cornell
// -------------------------

$cornell-primary: #4d4e53;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;


// Colors
// -------------------------

$red: #932129;
$mainNavColor: #62646f;

$brown: #4e2a1a;
$darkBrown: #301a10;

$teal: #15a383;
$darkTeal: #15594a;

$lightGray: #cfcfcf;
$paleGray: #efebeb;

$footerText: #625d5a;
$footerLink: #948c88;


//OLD STUFF TO DELETE
$orange: #e14f3c;
$darkOrange: #b53e2f;
$brightOrange: #f96552;
$paleOrange: #fadcd0;

$green: #1a5e60;
$fadedGreen: #697777;
$paleGreen: #e7eff0;
$brightGreen: #25898c;
$lightGreen: #a0dfe1;
$darkGreen: #113e3f;
$superDarkGreen: #082324;


$textColorDark: #444;

$linkPrimary: #38818d;
$linkPrimaryHover: #113e3f;


// Fonts
// -------------------------
$baseFontFamily:        'Open Sans';        @import
url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

