// Cornell
// -------------------------

$cornell-primary: #4d4e53;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;


// Colors
// -------------------------

$orange: #e14f3c;
$darkOrange: #b53e2f;
$brightOrange: #f96552;
$paleOrange: #fadcd0;

$green: #1a5e60;
$fadedGreen: #697777;
$paleGreen: #e7eff0;
$brightGreen: #25898c;
$lightGreen: #a0dfe1;
$darkGreen: #113e3f;
$superDarkGreen: #082324;


$textColorDark: #444;

$linkPrimary: #38818d;
$linkPrimaryHover: #113e3f;


// Fonts
// -------------------------
$baseFontFamily:        'PT Sans';        @import
url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

